.calendar-container,
.calendar,
.calendar-header,
td,
tr{
    padding: 0;
    margin: 0;
}

td{
    width: 14.2vw;
}

.calendar-container{
    text-align: center;
    overflow: auto;
    border-radius: 6px 6px;
}

.calendar{
    border-top-left-radius: 6px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header{
    background-color: #ffffff;
    font-size: 1.6em;
    color: #1A051D;
}

.calendar-header td{
    border-spacing: 0;
    padding-left: 5px;
}

/* .day,
.empty-slot,
.week-day{
    text-align: center;
} */

.week-day{
    font-size: 0.8em;
    background-color: #ffffff;
    color: #8CA5BA;
    height: 25px;
}

.day{
    cursor: pointer;
    font-size: 0.8em;
}

.current-day{
    /* line-height: 28px; */
    color: #2D8B57;
}



.current-day-border{
    color: #2D8B57;
    height: 14.2vw;
    max-height: 71px;
    border: 2px solid #2D8B57;
    border-radius: 50%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.current-day-border:hover{
    background-color: #2D8B57;
    opacity: 0.9;
    color:white
}

.day-border{
    height: 14.2vw;
    max-height: 71px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-month{
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right: 3px;
}

.editor-year{
    max-width: 3.6em;
}

.label-month,
.label-year{
    font-size: 0.6em;
    font-weight: 500;
}
